<launch>
<!-- Spawn the example robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find wheelchair_description)/urdf/wheelchair_body_stereo.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param /robot_description -model wheelchair"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Run the stereo_image_proc node to get point cloud from stereo cam -->
  <group ns="stereo">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_to_point_cloud">
    </node>
  </group>

  <!-- Publish transforms from stereo camera to base_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="sensor_base_link_transformer" args="0 0 0.75 1.57 0 -1.57  base_link sensor_link">
  </node>
</launch>